.menu-category {
  margin-bottom: 48px;
  opacity: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateY(100px);
  transition-property: opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.menu-category.loaded-menu {
  opacity: 1;
  transform: translateY(0);
}

.menu-category>div {
  width: 100%;
}

.menu-category h5 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
}
