section {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav {
  padding: 12px;
  display: flex;
  justify-content: center;
}

nav .nav-list-container {
  padding: 12px 36px;
  border-radius: 24px;
  margin: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 32px 48px;
  background-color: transparent;
  transition: background-color 0.3s;
}

nav.scrolled .nav-list-container {
  background-color: var(--md-sys-color-secondary-translucent);
  backdrop-filter: blur(4px);
}

nav.scrolled .nav-link {
  color: var(--md-sys-color-on-secondary);
}

.nav-link {
  text-decoration: none;
  color: #fff;
  position: relative;
  font-family: var(--md-sys-typescale-title-large-font-family-name);
  font-style: var(--md-sys-typescale-title-large-font-family-style);
  font-weight: var(--md-sys-typescale-title-large-font-weight);
  font-size: var(--md-sys-typescale-title-large-font-size);
  letter-spacing: var(--md-sys-typescale-title-large-letter-spacing);
  line-height: var(--md-sys-typescale-title-large-line-height);
  padding-bottom: 2px;
  transition: color 0.3s;
}

.nav-link::before {
  content: '';
  background-color: var(--md-sys-color-primary-container);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 3px;
  transition: width .3s, right .3s, left .3s;
}

.nav-link:hover::before {
  width: 100%;
  left: 0;
  right: initial;
}

@media(max-width: 960px) {
  nav {
    justify-content: flex-start;
    padding: 0;
  }

  nav .nav-list-container {
    padding: 12px;
    border-radius: 0 0 1rem 0;
  }

  .nav-link-menu-button {
    z-index: 2;
    cursor: pointer;
    color: var(--md-sys-color-on-secondary);
    font-family: var(--md-sys-typescale-title-large-font-family-name);
    font-style: var(--md-sys-typescale-title-large-font-family-style);
    font-weight: var(--md-sys-typescale-title-large-font-weight);
    transition: color 0.3s ease-in-out;
    display: grid;
    place-content: center;
    border: none;
    background-color: transparent;
  }

  .nav-link-menu-button mat-icon {
    width: 28px;
    height: 28px;
    font-size: 28px;
    transform: rotate(0);
    transition: transform 0.2s ease-in-out;
  }

  .nav-link-menu-button:active {
    color: var(--md-sys-color-secondary-translucent);
  }

  .nav-link-menu-button.open mat-icon {
    transform: rotate(45deg);
  }

  .nav-link-menu-close {
    cursor: pointer;
    color: var(--md-sys-color-on-secondary);
    font-family: var(--md-sys-typescale-title-large-font-family-name);
    font-style: var(--md-sys-typescale-title-large-font-family-style);
    font-weight: var(--md-sys-typescale-title-large-font-weight);
    display: grid;
    place-content: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    transition: color 0.3s ease-in-out;
    z-index: 2;
  }

  .nav-link-menu-close:active {
    color: var(--md-sys-color-secondary-translucent);
  }

  .nav-link-menu.open .nav-link-menu-close mat-icon {
    transform: rotate(0);
  }

  .nav-link-menu-close mat-icon {
    width: 32px;
    height: 32px;
    font-size: 32px;
    transform: rotate(45deg);
    transition: transform 0.2s ease-in-out;
  }

  .nav-link-menu div {
    position: relative;
    height: 100%;
  }

  .nav-link-menu {
    pointer-events: none;
    position: fixed;
    inset: 0;
    padding: 12px;
    opacity: 0;
    height: 100%;
    background-color: hsl(2, 17%, 40%);
    backdrop-filter: blur(100px);
    overflow: hidden;
    z-index: 2;
    transition: opacity 0.3s;
  }

  .nav-link-menu.open {
    opacity: 1;
    pointer-events: all;
    overflow: hidden;
  }

  .nav-link-menu ul {
    position: absolute;
    bottom: 3rem;
    left: 0;
    list-style: none;
  }

  .nav-link-menu li {
    padding: 12px 0;
  }

  .nav-link-menu-item {
    display: inline-block;
    text-decoration: none;
    color: var(--md-sys-color-on-secondary);
    position: relative;
    font-family: var(--md-sys-typescale-display-small-font-family-name);
    font-style: var(--md-sys-typescale-display-small-family-style);
    font-weight: var(--md-sys-typescale-display-small-font-weight);
    font-size: var(--md-sys-typescale-display-small-font-size);
    letter-spacing: var(--md-sys-typescale-display-small-letter-spacing);
    line-height: var(--md-sys-typescale-display-small-line-height);
    padding-bottom: 2px;
  }

  .nav-link-menu-item:hover {
    color: var(--md-sys-color-primary);
  }

  nav .nav-list-container.hide {
    background: transparent;
  }
}
