.menu-section {
  padding: 24px 24px 10%;
}

.menu-section h3 {
  text-align: center;
}

.menu-section > header {
  padding: 0 10%;
}

.menu-section h4 {
}

.menu-section-actions {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
}

.menu-section-actions button mat-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
}

.menu-category {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu-category > div {
  width: 100%;
}

.menu-category h5 {
  text-align: center;
  margin-bottom: 12px;
}

.menu-category ul {
  list-style: none;
  display: grid;
  justify-content: center;
  opacity: 0;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  grid-template-rows: 250px;
  transform: translateY(100px);
  transition-property: opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.menu-item {
  height: 250px;
}

.menu-category ul.loaded-menu {
  opacity: 1;
  transform: translateY(0);
}

.menu-item mat-icon {
  font-size: var(--md-sys-typescale-headline-medium-font-size);
  height: var(--md-sys-typescale-headline-medium-font-size);
  width: var(--md-sys-typescale-headline-medium-font-size);
}

.menu-item img {
  height: 100%;
  object-fit: cover;
}
