.menu-section {
  padding: 24px 24px 10%;
}

.menu-section h3 {
  text-align: center;
}

.menu-section > header {
  padding: 0 10%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.menu-section-actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
}

.menu-section-actions button mat-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
}
