<section class="menu-section tertiary-container">
  <h3 class="display-small on-tertiary-container-text" id="menu">Nuestros sabores</h3>
  <header>
    <h4 class="title-large on-tertiary-container-text">¿Cómo te sientes hoy?</h4>
    <ul class="menu-section-actions" #menuSection>
      <li>
        <button mat-fab class="tertiary" matTooltip="Contento" (click)="changeMood('happy', menuSection)" [class.tertiary-toggle]="selectedMood !== 'happy'"
          aria-label="Button that displays the name of the emotion">
          <mat-icon class="on-tertiary-text">sentiment_very_satisfied</mat-icon>
        </button>
      </li>
      <li>
        <button mat-fab class="tertiary" matTooltip="Enfadado" (click)="changeMood('angry', menuSection)" [class.tertiary-toggle]="selectedMood !== 'angry'"
          aria-label="Button that displays the name of the emotion">
          <mat-icon svgIcon="sentiment_angry" class="on-tertiary-text"></mat-icon>
        </button>
      </li>
      <li>
        <button mat-fab class="tertiary" matTooltip="Neutro" (click)="changeMood('neutral', menuSection)" [class.tertiary-toggle]="selectedMood !== 'neutral'"
          aria-label="Button that displays the name of the emotion">
          <mat-icon class="on-tertiary-text">sentiment_neutral</mat-icon>
        </button>
      </li>
      <li>
        <button mat-fab class="tertiary" matTooltip="Estresado" (click)="changeMood('stressed', menuSection)" [class.tertiary-toggle]="selectedMood !== 'stressed'"
          aria-label="Button that displays the name of the emotion">
          <mat-icon svgIcon="sentiment_stressed" class="on-tertiary-text"></mat-icon>
        </button>
      </li>
      <li>
        <button mat-fab class="tertiary" matTooltip="Triste" (click)="changeMood('sad', menuSection)" [class.tertiary-toggle]="selectedMood !== 'sad'"
          aria-label="Button that displays the name of the emotion">
          <mat-icon class="on-tertiary-text">mood_bad</mat-icon>
        </button>
      </li>
    </ul>
  </header>
  <app-menu-category [categoryTitle]="'Cafés'" [filteredItems]="coffeeFilteredItems" [loadMenu]="loadMenu"></app-menu-category>
  <app-menu-category [categoryTitle]="'Batidos'" [filteredItems]="smoothieFilteredItems" [loadMenu]="loadMenu"></app-menu-category>
</section>
