<header class="home-section">
  <section class="home-section-container">
    <div class="home-container primary-container">
      <header class="home-container-header">
        <h1 class="display-large on-primary-container-text">Cafeteria Luna</h1>
        <h2 class="display-medium on-primary-container-text">Tu pausa, nuestro café.</h2>
      </header>
      <footer class="home-container-action">
        <div>
          <p class="title-large on-primary-container-text">Explora nuestra carta para encontrar tu pausa perfecta</p>
          <a class="on-primary-text title-medium" mat-raised-button color="primary" href="#menu">
            Descubre nuestro sabor
          </a>
        </div>
        <img src="../assets/cafe.jpg" />
      </footer>
    </div>
  </section>
</header>
